# Example .env file for local development
DEBUG=True
SECRET_KEY=changeme
DATABASE_URL=sqlite:///db.sqlite3
REDIS_URL=redis://127.0.0.1:6379/1
EMAIL_HOST=localhost
EMAIL_PORT=1025
DEFAULT_FROM_EMAIL=webmaster@localhost
